@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-[14px] md:text-[16px] lg:text-[18px];
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
